.cls-test{
  width: 400px;
  height: 50px;
  border: 1px solid black;
}
/* class 기반 CSS */
.flex-container{
  display: flex;
  width: 300px;
}
.direction-column{
  flex-direction: column;
}
li{
  width: 300px;
  background-color: rgb(200, 200, 200);
}
.name-result{
  width: 300px;
  height: 100px;
  border: 1px solid black;
}