*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form{
  display: flex;
  justify-content: center;
}
h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
#userForm{
  margin: 10px;
}

th{
  background-color: lightgray;
  padding: 5px;
}
button{
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 10px;
  margin-top: 10px;
}
#selete{
  width: 45px;
  height: 28px;
}
#delete{
  width: 70px;
  height: 28px;
}